// General styles

body {
	background-color: lighten($white, 5%);
}

h2 strong {
	text-decoration: none;
	color: lighten($secondary-color, 20%);
}


.swap {

	.hide {
		opacity: 0;
		position: absolute;
		top: -5%; 
		left: -5%;
		max-width: 110%;
		@include vendorize(transition, all .5s ease-in);
	}
	
	&:hover {
		img.hide {
			opacity: 100;
		}
	}
}

p strong {
	background: lighten($black, 80%);
	padding: 0 .1em;
	color: lighten($black, 30%);
	font-weight: 300;
}



// Header

#hello {
	margin-top: 6em;
	margin-bottom: 2em;
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: 3px solid lighten($grey, 20%);
	border-bottom: 3px solid darken($grey, 10%);
		
	img {
		@include circular(0px);
	}
}


// Details

#why {
	margin-top: 2em;
	margin-bottom: 2em;
	
	h4 {
	  margin-top: 3em;
	  color: lighten($black, 10%);
	  
	  i {
		  margin-right: .5em;
		  color: lighten($black, 60%);
	  }
	}
}


// Poetry slam!

.haiku {
	margin: 2em 0;
	padding: 2em 0;
	border-bottom: 1px solid lighten($black, 60%);
	font-family: $serif;

	div {
		text-align: center;
	}

	i {
	  margin-right: .5em;
	  color: lighten($black, 60%);
	  border: 1px solid lighten($black, 60%);
	  border-radius: 50%;
	  padding: 2px;	
	  display: inline-block; 

	  &:before {
	  	display: inline-block;
	  	border: 3px solid lighten($black, 60%);
	  	border-radius: 50%;
	  	padding: 20px;
	  	font-size: 32px;
	  }
	}

	h4 {
		margin: 1em 0;
		text-align: center;
		font-family: $sans-serif;
		color: lighten($black, 60%);
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 400;
	}
}


// Mobile adjustments 

@include max-screen($big-break) {
	#hello {
		padding-top: 2em;
		padding-bottom: 1em;
		
		.swap {
			display: none;
		}
	}
}


@include max-screen($small-break) {
	#hello {
		font-size: .7em;
	}
}
