// General styles

body {
	background-color: lighten($white, 5%);
}

h2 strong {
	text-decoration: underline;
}

.swap {

	.hide {
		display: none;
	}
	
	&:hover {
		img:first-child {
			display: none;
		}
		img.hide {
			display: block;
		}
	}
}

p strong {
	background: lighten($black, 80%);
	padding: 0 .1em;
	color: lighten($black, 30%);
	font-weight: 600;
}



// Header

#hello {
	margin-top: 6em;
	margin-bottom: 2em;
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: 3px solid lighten($grey, 20%);
	border-bottom: 3px solid darken($grey, 10%);
		
	img {
		@include circular(0px);
	}
}


// Details

#why {
	margin-top: 2em;
	margin-bottom: 2em;
	
	h4 {
	  margin-top: 3em;
	  color: lighten($black, 10%);
	  
	  i {
		  margin-right: .5em;
		  color: lighten($black, 60%);
	  }
	}
}


// Mobile adjustments 

@include max-screen($big-break) {
	#hello {
		padding-top: 2em;
		padding-bottom: 1em;
		
		.swap {
			display: none;
		}
	}
}


@include max-screen($small-break) {
	#hello {
		font-size: .7em;
	}
}